[Desktop Entry]
Name=Anima
Name[ar]=Anima
Name[ast]=Anima
Name[ca]=Anima
Name[ca@valencia]=Anima
Name[cs]=Anima
Name[da]=Anima
Name[de]=Anima
Name[en_GB]=Anima
Name[es]=Anima
Name[et]=Anima
Name[eu]=Anima
Name[fi]=Anima
Name[fr]=Anima
Name[gd]=Anima
Name[gl]=Anima
Name[ia]=Anima
Name[id]=Anima
Name[it]=Anima
Name[ko]=Anima
Name[nb]=Anima
Name[nl]=Anima
Name[nn]=Anima
Name[pl]=Anima
Name[pt]=Anima
Name[pt_BR]=Anima
Name[ru]=Anima
Name[sk]=Anima
Name[sl]=Anima
Name[sr]=Anima
Name[sr@ijekavian]=Anima
Name[sr@ijekavianlatin]=Anima
Name[sr@latin]=Anima
Name[sv]=Anima
Name[tr]=Anima
Name[uk]=Anima
Name[x-test]=xxAnimaxx
Name[zh_CN]=Anima
Name[zh_TW]=Anima

Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-PluginInfo-Author=law0
X-KDE-PluginInfo-Email=law0
X-KDE-PluginInfo-Name=org.kde.plasma.anima
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
